useDynLib(chebpol,.registration=TRUE, .fixes='C_')

export(chebappx,chebappxf,chebappxg,chebappxgf,chebeval,
       chebknots, evalongrid,chebcoef,havefftw,mlappx,ucappx,ucappxf,polyh)
importFrom(compiler,cmpfun)
importFrom(stats, lm.fit, splinefun)
